@charset "UTF-8";
/* Importando estilos universales */
/* ----------------- UNIVERSALES ----------------- */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  text-align: center;
}

* {
  transition: 0.2s;
}

@keyframes show {
  from {
    opacity: 0;
    scale: 25%;
  }
  to {
    opacity: 1;
    scale: 100%;
  }
}
img {
  transition: transform 0.3s ease;
}

img:hover {
  transform: scale(1.06);
}

main img,
main p {
  view-timeline-name: --image;
  view-timeline-axis: block;
  animation-timeline: --image;
  animation-name: show;
  animation-range: entry 25% cover 50%;
  animation-fill-mode: both;
}

/* ----------------- VARIABLES COLORES PRINCIPALES MODO OSCURO  ----------------- */
:root {
  --color-primero: rgb(27, 26, 25);
  --color-segundo: rgb(234, 234, 234);
  --color-tercero: rgb(225, 202, 83);
  --color-cuarto: rgb(83, 152, 225);
  --color-fondo-op50: rgba(0, 0, 0, 0.5);
  --color-fondo-op100: rgb(0, 0, 0);
}

/* ----------------- VARIABLES COLORES ALTERNATIVOS MODO CLARO  ----------------- */
#toggleMode:checked ~ header,
#toggleMode:checked ~ main,
#toggleMode:checked ~ footer {
  --color-primero: rgb(234, 234, 234);
  --color-segundo: rgb(27, 26, 25);
  --color-tercero: rgb(83, 152, 225);
  --color-fondo-op50: rgba(220, 220, 220, 0.5);
  --color-fondo-op100: rgb(220, 220, 220, 0.9);
}

/* ----------------- COLOR PRIMERO ----------------- */
.navbar-toggler,
main#musica .divisor-2 .section4 a:hover,
main.contacto .contenedor .section3 form button:hover,
main.contacto .contenedor .section3 form input:hover,
main.contacto .contenedor .section3 form textarea:hover,
header a[aria-current=page],
.nav-link:hover {
  color: var(--color-primero);
}

header nav.navbar,
footer,
.main .section3 .divisor1 h2,
main#musica .divisor-2 .section4 a,
main.contacto .contenedor .section3 form button {
  background-color: var(--color-primero);
}

.main .section3 .divisor3 .mapa {
  border: solid 1px var(--color-primero);
}

/* ----------------- COLOR SEGUNDO ----------------- */
.navbar-brand,
.navbar-brand:visited,
.fas.fa-bars,
.navbar-nav a,
h1,
h2,
h3,
h4,
p,
a,
.main .section3 .divisor1 h2,
main.contacto .contenedor .section3 form label,
main.contacto .contenedor .section3 form button {
  color: var(--color-segundo);
}

/* ----------------- COLOR TERCERO ----------------- */
.toggleDark,
.toggleLight:hover,
.navbar-brand:hover,
.fas.fa-bars:hover,
footer div#redes ul li a:hover {
  color: var(--color-tercero);
}

main#musica .divisor-2 .section4 a:hover,
main.contacto .contenedor .section3 form button:hover,
main.contacto .contenedor .section3 form input:hover,
main.contacto .contenedor .section3 form textarea:hover,
a[aria-current=page],
.nav-link:hover {
  background-color: var(--color-tercero);
}

.main .section3 .divisor1 h2,
.main .section3 .divisor2 h3,
.main .section3 .divisor2 img,
main#musica .divisor-1 section div img,
main#musica .divisor-2 .section4 img,
main.contacto .contenedor .section3 form button,
main#musica .divisor-2 .section4 a {
  border: solid 1px var(--color-tercero);
}

/* ----------------- COLOR CUARTO ----------------- */
.toggleDark:hover,
.toggleLight {
  color: var(--color-cuarto);
}

/* ----------------- FUENTE TIPOGRAFICA DE GOOGLEFONT----------------- */
/* ----------------- TITULOS Y TEXTOS ----------------- */
h1,
h2,
h3 {
  text-transform: uppercase;
}

h1,
h1 strong,
h2,
h2 strong,
p,
strong {
  letter-spacing: 0.25rem;
}

h3,
h4 {
  letter-spacing: 0.125rem;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 0.7rem;
}

p {
  font-size: 1.2rem;
}

h1,
h1 strong,
h2,
h2 strong {
  font-weight: 500;
}

p,
strong {
  font-weight: 400;
}

a {
  text-decoration: none;
  letter-spacing: 0.125rem;
}

/* Importando estilos comunes de secciones  */
/* ------------ MODO OSCURO/CLARO ------------ */
#toggleMode {
  visibility: hidden;
}

.toggleDark,
.toggleLight {
  cursor: pointer;
  position: fixed;
  z-index: 9999;
  top: 17px;
  left: 10px;
}

.toggleDark,
#toggleMode:checked ~ .toggleLight {
  display: block;
}

.toggleLight,
#toggleMode:checked ~ .toggleDark {
  display: none;
}

/* ----------------- HEADER ----------------- */
header .navbar-nav.ms-auto {
  align-items: center;
}
header .navbar-brand {
  font-weight: 200;
  font-size: 1.8rem;
  padding-left: 20px;
}
header .navbar-toggler {
  border: none;
}
header .fas.fa-bars {
  font-size: 1.7rem;
}
header .navbar-nav {
  width: 100%;
  justify-content: space-evenly;
}
header .navbar-nav a {
  font-weight: 200;
  width: 6rem;
  text-align: center;
  margin: 0.2rem;
}
header .navbar-nav a:hover {
  transform: scale(1.05);
}
header .navbar-nav a[aria-current=page] {
  pointer-events: none;
}
header .logo-2 {
  display: none;
}

/* ----------------- GENERALES ----------------- */
main {
  width: 100%;
  min-height: 100vh;
}

.main .section2 .divisor img,
.main .section3 .divisor1 h2,
.main .section3 .divisor2 h3,
.main .section3 .divisor2 img,
.main .section3 .divisor3 .mapa,
main#musica div section div img,
main#musica .divisor-2 .section4 a,
main.contacto .contenedor .section3 form input,
main.contacto .contenedor .section3 form textarea,
main.contacto .contenedor .section3 form button {
  border-radius: 20px;
}

#carouselExampleAutoplaying .carousel-item img {
  object-fit: cover;
  width: 100%;
  height: auto;
  min-height: 200px;
}

/* ----------------- FOOTER ----------------- */
footer {
  display: flex;
  justify-content: space-between;
  padding: 0.8rem;
  align-items: center;
  width: 100%;
  height: 4rem;
}
footer div#redes ul {
  display: flex;
  margin: auto;
  gap: 3rem;
  padding-left: 0;
}
footer div#redes ul li a {
  padding: 0;
  margin: 0;
}
footer h4 {
  padding: 0;
  margin: 0;
}

/* Importando estilos en páginas */
/* ----------------- INDEX.HTML ----------------- */
main#index {
  padding-top: 1.8rem;
  background: linear-gradient(var(--color-fondo-op100), var(--color-fondo-op50)), url(../assets/img/background/1.webp);
  background-size: cover;
  background-position: center;
}

/* ----------------- INDEX.HTML SECCION 1----------------- */
main#index .section1 {
  width: 100%;
  max-width: 1000px;
  padding-top: 4rem;
  padding-right: 1rem;
  padding-bottom: 4rem;
  padding-left: 1rem;
  margin: auto;
}

/* ----------------- INDEX.HTML SECCION 2----------------- */
main#index .section2 {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
main#index .section2 .divisor {
  width: 100%;
  display: flex;
  gap: 0.5rem;
  margin: auto;
  justify-content: space-between;
}
main#index .section2 .divisor img {
  height: 10rem;
  object-fit: cover;
  padding: 0.2rem;
}
main#index .section2 .divisor .divisor-texto {
  width: 100%;
  height: 9rem;
  margin: auto;
  order: -1;
}
main#index .section2 .divisor .divisor-texto h3 {
  width: 90%;
  margin: auto;
  padding-bottom: 10px;
}

/* ----------------- INDEX.HTML SECCION 3 ----------------- */
main#index .section3 {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 4rem;
}
main#index .section3 .divisor1 {
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding-top: 4rem;
  padding-bottom: 4rem;
}
main#index .section3 .divisor1 h2 {
  padding: 1rem;
  margin: auto;
  margin-bottom: 1rem;
}
main#index .section3 .divisor2 .card {
  background-color: transparent;
  border: none;
}
main#index .section3 .divisor2 .card a.link {
  background-color: var(--color-primero);
  border-radius: 20px;
  border: 1px solid var(--color-tercero);
  padding: 1rem;
  margin-bottom: 1rem;
}
main#index .section3 .divisor2 .card a.link:hover {
  color: var(--color-primero);
  background-color: var(--color-tercero);
  transform: scale(1.05);
}
main#index .section3 .divisor2 .card img {
  width: 80%;
}
main#index .section3 .divisor3 {
  padding-top: 4rem;
}
main#index .section3 .divisor3 .mapa {
  max-width: 700px;
  width: 80%;
  margin-top: 40px;
}
main#index .section3 .divisor3 .mapa:hover {
  transform: scale(1.05);
}

/* ---- #MUSICA = PIANO.HTML / CANTO.HTML / VIOLIN.HTML ---- */
main.piano {
  background: linear-gradient(var(--color-fondo-op100), var(--color-fondo-op50)), url(../assets/img/background/1.webp);
}

main.canto {
  background: linear-gradient(var(--color-fondo-op100), var(--color-fondo-op50)), url(../assets/img/background/4.webp);
}

main.violin {
  background: linear-gradient(var(--color-fondo-op100), var(--color-fondo-op50)), url(../assets/img/background/3.webp);
}

main#musica {
  background-size: cover;
  background-position: center;
  /* ----------------- #MUSICA DIVISOR 1 ----------------- */
  /* ----------------- #MUSICA DIVISOR 2 ----------------- */
}
main#musica h1,
main#musica h3 {
  width: 21rem;
  margin-bottom: 1rem;
  line-height: 2.5rem;
}
main#musica p {
  width: 80%;
  padding: 1rem;
}
main#musica div section div img {
  width: 12rem;
  height: 12rem;
  object-fit: cover;
  margin-bottom: 2rem;
}
main#musica .section-top {
  padding-top: 1.8rem;
}
main#musica .divisor-1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.5rem;
  margin-top: 4rem;
}
main#musica .divisor-1 .section1,
main#musica .divisor-1 .section2,
main#musica .divisor-1 .section3 {
  display: flex;
  align-items: center;
}
main#musica .divisor-2 {
  margin: auto;
  padding-top: 2rem;
}
main#musica .divisor-2 section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
}
main#musica .divisor-2 .section4 a {
  padding: 1.5em;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* ---------------- CONTACTO.HTML --------------- */
main.contacto {
  background: linear-gradient(var(--color-fondo-op100), var(--color-fondo-op50)), url(../assets/img/background/2.webp);
  background-size: cover;
  background-position: center;
  padding-top: 3rem;
}
main.contacto .contenedor {
  display: grid;
  min-height: auto;
  width: 100%;
  margin: auto;
  padding-top: 4rem;
  padding-bottom: 4rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto auto;
  grid-gap: 0px;
  justify-content: center;
  align-items: center;
  grid-template-areas: "section1 section2 section3" "section1 section2 section3" "section1 section2 section3";
}
main.contacto .contenedor .section1 {
  grid-area: section1;
}
main.contacto .contenedor .section2 {
  grid-area: section2;
}
main.contacto .contenedor .section3 {
  grid-area: section3;
}
main.contacto .contenedor .section3 form {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
}
main.contacto .contenedor .section3 form label {
  padding: 4px;
  letter-spacing: 0.25rem;
}
main.contacto .contenedor .section3 form input,
main.contacto .contenedor .section3 form textarea,
main.contacto .contenedor .section3 form button {
  max-width: 10rem;
  min-height: 1.4rem;
  margin: auto;
  letter-spacing: 1px;
}
main.contacto .contenedor .section3 form input,
main.contacto .contenedor .section3 form textarea {
  font-style: italic;
}
main.contacto .contenedor .section3 form button {
  padding: 0.8em;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
}
main.contacto .contenedor .section3 form .checkbox {
  display: flex;
  margin: auto;
  padding: 0.5rem;
  align-items: center;
}
main.contacto .contenedor .section3 form .checkbox input#checkbox {
  width: 1.1rem;
  accent-color: var(--color-tercero);
}

/* Importando mediaqueries */
/* ----------------- MEDIAQUERIES 992px ----------------- */
@media (max-width: 992px) {
  /* ----------------- INDEX.HTML----------------- */
  .main .section2 {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  /* ----------------- CONTACTO.HTML ----------------- */
  main.contacto .contenedor {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "section1 section3" "section2 section3";
    align-items: self-start;
  }
}
/* ----------------- MEDIAQUERIES 768px ----------------- */
@media (max-width: 768px) {
  /* ----------------- TITULOS Y TEXTOS ----------------- */
  h1,
  h1 strong,
  h2,
  h3 {
    font-size: 1.2rem;
  }
  p {
    font-size: 0.95rem;
  }
  /* ----------------- INDEX.HTML ----------------- */
  .main .section3 .divisor3 .mapa {
    height: 15rem;
  }
  .main .section3 .divisor1 {
    padding-top: 1rem;
  }
  .main .section3 .divisor2 .row .card.col-lg-4.col-sm-12 .card .row .col-lg-12.col-sm-6 .card-img-top {
    max-width: 60%;
  }
  /* ----------------- CONTACTO.HTML----------------- */
  main.contacto .contenedor {
    position: static;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: "section1" "section2" "section3";
    padding: 2rem;
  }
  main.contacto .contenedor .section3 form {
    padding-top: 1.5rem;
    gap: 0.1rem;
    flex-direction: row;
    flex-wrap: wrap;
    width: 18rem;
  }
  main.contacto .contenedor .section3 form input,
  main.contacto .contenedor .section3 form textarea {
    margin-right: 0;
  }
}
/* ----------------- MEDIAQUERIES 576px----------------- */
@media (max-width: 576px) {
  /* ----------------- FOOTER ----------------- */
  footer div#redes ul {
    gap: 1rem;
  }
  /* ----------------- TITULOS Y TEXTOS ----------------- */
  h1,
  h1 strong,
  h2,
  h3 {
    font-size: 1.1rem;
  }
  p,
  main#musica .divisor-2 .section3 a {
    font-size: 0.9rem;
  }
  /* ----------------- INDEX.HTML ----------------- */
  .main .section2 .divisor {
    display: flex;
    flex-direction: column-reverse;
  }
  .main .section2 .divisor .divisor-imagen img {
    max-height: 9rem;
  }
  /* ---- #MUSICA = PIANO.HTML / CANTO.HTML / VIOLIN.HTML ---- */
  main#musica h1,
  main#musica h3 {
    width: auto;
  }
  main#musica .divisor-1 .section1,
  main#musica .divisor-1 .section2,
  main#musica .divisor-1 .section3 {
    flex-direction: column;
    align-items: center;
  }
  main#musica .divisor-1 section div {
    order: -1;
  }
  main#musica .divisor-2 {
    width: 100%;
    height: auto;
    position: static;
    margin: auto;
  }
  main#musica .divisor-2 .section3 {
    flex-direction: column;
  }
  main#musica .divisor-2 .section3 p {
    margin-right: 0;
    margin-bottom: 1rem;
  }
  main#musica .divisor-2 .section3 a {
    width: 30%;
    margin: auto;
  }
  /* ----------------- CONTACTO.HTML----------------- */
  main.contacto .contenedor .section3 form input,
  main.contacto .contenedor .section3 form textarea {
    width: 80%;
    padding: 0;
  }
}
/* ----------------- MEDIAQUERIES 290px----------------- */
@media (max-width: 290px) {
  /* ----------------- HEADER ----------------- */
  header .logo {
    display: none;
  }
  header .logo-2 {
    display: block;
  }
  h1,
  h1 strong,
  h2,
  h2 strong,
  h3,
  h4 {
    font-size: 0.7rem;
    width: auto;
  }
  p {
    font-size: 0.6rem;
    width: auto;
  }
  /* ----------------- FOOTER ----------------- */
  footer {
    flex-direction: column;
    height: 6rem;
  }
  /* ---- #MUSICA = PIANO.HTML / CANTO.HTML / VIOLIN.HTML ---- */
  main#musica {
    margin: 0;
    padding: 0;
  }
  main#musica h1,
  main#musica h3 {
    width: 100%;
  }
  main#musica p {
    padding: 0;
  }
  main#musica .divisor-1 section div img,
  main#musica .divisor-2 .section3 img {
    max-width: 80%;
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  main#musica .divisor-2 .section4 a {
    padding: 0.5rem;
  }
  main#musica .divisor-2 .section4 img {
    width: 90%;
  }
  /* ----------------- CONTACTO ----------------- */
  main.contacto .contenedor .section3 form {
    width: 100%;
    flex-direction: column;
  }
  main.contacto .contenedor .section3 form input,
  main.contacto .contenedor .section3 form textarea {
    margin: auto;
  }
}/*# sourceMappingURL=styles.css.map */