@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500&display=swap");
* {
  padding: 0;
  margin: 0;
  min-width: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  text-align: center;
}

body {
  min-height: 100dvh;
}

.navbar a {
  transition: 0.25s;
}

main a,
main img,
main iframe.mapa {
  transition: transform 0.25s ease;
}
main a:hover,
main img:hover,
main iframe.mapa:hover {
  transition: transform 0.25s ease;
  transform: scale(1.06);
}

@keyframes show {
  from {
    opacity: 0;
    scale: 25%;
  }
  to {
    opacity: 1;
    scale: 100%;
  }
}
img,
p,
iframe.mapa,
#musica h2,
#musica h3 {
  view-timeline-name: --image;
  view-timeline-axis: block;
  animation-timeline: --image;
  animation-name: show;
  animation-range: entry 15% cover 40%;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  1% {
    opacity: 0;
    visibility: visible;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
.fade-in {
  opacity: 0;
  visibility: hidden;
  animation: fadeIn 1s forwards;
}

.section1,
.fade1 {
  animation-delay: 0.4s;
  animation-fill-mode: forwards;
}

.section2,
.fade2 {
  animation-delay: 0.6s;
  animation-fill-mode: forwards;
}

.section3,
.fade3 {
  animation-delay: 0.8s;
  animation-fill-mode: forwards;
}

main.principal {
  background: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0.5)), url("../assets/img/background/1.webp");
  background-size: cover;
  background-position: center;
}
main.piano {
  background: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0.5)), url("../assets/img/background/1.webp");
  background-size: cover;
  background-position: center;
}
main.canto {
  background: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0.5)), url("../assets/img/background/4.webp");
  background-size: cover;
  background-position: center;
}
main.violin {
  background: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0.5)), url("../assets/img/background/3.webp");
  background-size: cover;
  background-position: center;
}
main.contacto {
  background: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0.5)), url("../assets/img/background/2.webp");
  background-size: cover;
  background-position: center;
}

.navbar-toggler,
main .divisor2 .card a.link:hover,
main#musica .divisor-2 .section4 a:hover,
main.contacto .contenedor .section3 form button:hover,
main.contacto .contenedor .section3 form input:hover,
main.contacto .contenedor .section3 form textarea:hover,
header a[aria-current=page],
.nav-link:hover {
  color: rgb(27, 26, 25);
}

header nav.navbar,
footer,
.main .section3 .divisor1 h2,
.main .divisor2 .card a.link,
main#musica .divisor-2 .section4 a,
main.contacto .contenedor .section3 form button {
  background-color: rgb(27, 26, 25);
}

.main .section3 .divisor3 .mapa {
  border: solid 1px rgb(27, 26, 25);
}

.navbar-brand,
.navbar-brand:visited,
.navbar-toggler svg,
.navbar-nav a,
h1,
h2,
h3,
h4,
p,
a,
.main .section3 .divisor1 h2,
main.contacto .contenedor .section3 form label,
main.contacto .contenedor .section3 form button {
  color: rgb(234, 234, 234);
}

.toggleDark,
.toggleLight:hover,
.navbar-brand:hover,
.navbar-toggler svg:hover,
footer div#redes ul li a:hover {
  color: rgb(225, 202, 83);
}

main .divisor2 .card a.link:hover,
main#musica .divisor-2 .section4 a:hover,
main.contacto .contenedor .section3 form button:hover,
main.contacto .contenedor .section3 form input:hover,
main.contacto .contenedor .section3 form textarea:hover,
a[aria-current=page],
.nav-link:hover {
  background-color: rgb(225, 202, 83);
}

.main .section3 .divisor1 h2,
.main .section3 .divisor2 h3,
.main .section3 .divisor2 img,
.main .divisor2 .card a.link,
main#musica .divisor-1 section div img,
main#musica .divisor-2 .section4 img,
main.contacto .contenedor .section3 form button,
main#musica .divisor-2 .section4 a {
  border: solid 1px rgb(225, 202, 83);
}

.checkbox input#checkbox {
  accent-color: rgb(225, 202, 83);
}

.toggleDark:hover,
.toggleLight {
  color: rgb(83, 152, 225);
}

body.light-mode main.principal {
  background: linear-gradient(rgba(220, 220, 220, 0.9), rgba(220, 220, 220, 0.5)), url("../assets/img/background/1.webp");
  background-size: cover;
  background-position: center;
}
body.light-mode main.piano {
  background: linear-gradient(rgba(220, 220, 220, 0.9), rgba(220, 220, 220, 0.5)), url("../assets/img/background/1.webp");
  background-size: cover;
  background-position: center;
}
body.light-mode main.canto {
  background: linear-gradient(rgba(220, 220, 220, 0.9), rgba(220, 220, 220, 0.5)), url("../assets/img/background/4.webp");
  background-size: cover;
  background-position: center;
}
body.light-mode main.violin {
  background: linear-gradient(rgba(220, 220, 220, 0.9), rgba(220, 220, 220, 0.5)), url("../assets/img/background/3.webp");
  background-size: cover;
  background-position: center;
}
body.light-mode main.contacto {
  background: linear-gradient(rgba(220, 220, 220, 0.9), rgba(220, 220, 220, 0.5)), url("../assets/img/background/2.webp");
  background-size: cover;
  background-position: center;
}
body.light-mode .navbar-toggler,
body.light-mode main .divisor2 .card a.link:hover,
body.light-mode main#musica .divisor-2 .section4 a:hover,
body.light-mode main.contacto .contenedor .section3 form button:hover,
body.light-mode main.contacto .contenedor .section3 form input:hover,
body.light-mode main.contacto .contenedor .section3 form textarea:hover,
body.light-mode header a[aria-current=page],
body.light-mode .nav-link:hover {
  color: rgb(234, 234, 234);
}
body.light-mode header nav.navbar,
body.light-mode footer,
body.light-mode .main .section3 .divisor1 h2,
body.light-mode .main .divisor2 .card a.link,
body.light-mode main#musica .divisor-2 .section4 a,
body.light-mode main.contacto .contenedor .section3 form button {
  background-color: rgb(234, 234, 234);
}
body.light-mode .main .section3 .divisor3 .mapa {
  border: solid 1px rgb(234, 234, 234);
}
body.light-mode main.contacto {
  background: linear-gradient(rgba(220, 220, 220, 0.9), rgba(220, 220, 220, 0.5)), url("../assets/img/background/2.webp");
  background-size: cover;
  background-position: center;
}
body.light-mode .navbar-brand,
body.light-mode .navbar-brand:visited,
body.light-mode .navbar-toggler svg,
body.light-mode .navbar-nav a,
body.light-mode h1,
body.light-mode h2,
body.light-mode h3,
body.light-mode h4,
body.light-mode p,
body.light-mode a,
body.light-mode .main .section3 .divisor1 h2,
body.light-mode main.contacto .contenedor .section3 form label,
body.light-mode main.contacto .contenedor .section3 form button {
  color: rgb(27, 26, 25);
}
body.light-mode .toggleDark,
body.light-mode .toggleLight:hover,
body.light-mode .navbar-brand:hover,
body.light-mode .navbar-toggler svg:hover,
body.light-mode footer div#redes ul li a:hover {
  color: rgb(83, 152, 225);
}
body.light-mode main .divisor2 .card a.link:hover,
body.light-mode main#musica .divisor-2 .section4 a:hover,
body.light-mode main.contacto .contenedor .section3 form button:hover,
body.light-mode main.contacto .contenedor .section3 form input:hover,
body.light-mode main.contacto .contenedor .section3 form textarea:hover,
body.light-mode a[aria-current=page],
body.light-mode .nav-link:hover {
  background-color: rgb(83, 152, 225);
}
body.light-mode .main .section3 .divisor1 h2,
body.light-mode .main .section3 .divisor2 h3,
body.light-mode .main .section3 .divisor2 img,
body.light-mode .main .divisor2 .card a.link,
body.light-mode main#musica .divisor-1 section div img,
body.light-mode main#musica .divisor-2 .section4 img,
body.light-mode main.contacto .contenedor .section3 form button,
body.light-mode main#musica .divisor-2 .section4 a {
  border: solid 1px rgb(83, 152, 225);
}
body.light-mode .checkbox input#checkbox {
  accent-color: rgb(83, 152, 225);
}
body.light-mode .toggleDark:hover,
body.light-mode .toggleLight {
  color: rgb(83, 152, 225);
}

h1,
h2,
h3 {
  text-transform: uppercase;
}

h1,
h1 strong,
h2,
h2 strong,
p,
strong {
  letter-spacing: 0.25rem;
  text-wrap: balance;
}

h3,
h4 {
  letter-spacing: 0.125rem;
}

h1 {
  font-size: 2.5rem;
  font-weight: 500;
}
h1 strong {
  font-weight: 500;
}

h2 {
  font-size: 2rem;
  font-weight: 500;
}
h2 strong {
  font-weight: 500;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 0.7rem;
}

p {
  font-size: 1.2rem;
  font-weight: 400;
  text-wrap: pretty;
}

strong {
  font-weight: 400;
}

a {
  text-decoration: none;
  letter-spacing: 0.125rem;
}

#toggleMode {
  visibility: hidden;
}

.toggleDark,
.toggleLight {
  cursor: pointer;
  position: fixed;
  top: 15px;
  left: 10px;
  z-index: 9999;
}

.toggleDark,
#toggleMode:checked ~ .toggleLight {
  display: block;
}

.toggleLight,
#toggleMode:checked ~ .toggleDark {
  display: none;
}

header .navbar-nav.ms-auto {
  align-items: center;
}
header .navbar-brand {
  font-weight: 200;
  font-size: 1.8rem;
  padding-left: 20px;
}
header .navbar-toggler {
  border: none;
}
header .fas.fa-bars {
  font-size: 1.7rem;
}
header .navbar-nav {
  width: 100%;
  justify-content: space-evenly;
}
header .navbar-nav a {
  font-weight: 200;
  width: 6rem;
  text-align: center;
  margin: 0.2rem;
}
header .navbar-nav a[aria-current=page] {
  pointer-events: none;
}
header .logo-2 {
  display: none;
}

main {
  width: 100%;
  min-height: 100vh;
}

#carouselExampleAutoplaying .carousel-item img {
  object-fit: cover;
  width: 100%;
  height: auto;
  min-height: 200px;
}

.main .section2 .divisor img,
.main .section3 .divisor1 h2,
.main .section3 .divisor2 h3,
.main .section3 .divisor2 img,
.main .section3 .divisor3 .mapa,
main#musica div section div img,
main#musica .divisor-2 .section4 a,
main.contacto .contenedor .section3 form input,
main.contacto .contenedor .section3 form textarea,
main.contacto .contenedor .section3 form button {
  border-radius: 20px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem;
  width: 100%;
  height: 4rem;
}
footer div#redes ul {
  display: flex;
  margin: auto;
  gap: 3rem;
  padding-left: 0;
}
footer div#redes ul li a {
  padding: 0;
  margin: 0;
}
footer h4 {
  padding: 0;
  margin: 0;
}

main#index {
  padding-top: 1.8rem;
}
main#index .section1 {
  width: 100%;
  max-width: 1000px;
  padding-top: 4rem;
  padding-right: 1rem;
  padding-bottom: 4rem;
  padding-left: 1rem;
  margin: auto;
}
main#index .section2 {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
main#index .section2 .divisor {
  width: 100%;
  display: flex;
  gap: 0.5rem;
  margin: auto;
  justify-content: space-between;
}
main#index .section2 .divisor img {
  height: 10rem;
  object-fit: cover;
  padding: 0.2rem;
}
main#index .section2 .divisor .divisor-texto {
  width: 100%;
  height: 9rem;
  margin: auto;
  order: -1;
}
main#index .section2 .divisor .divisor-texto h3 {
  width: 90%;
  margin: auto;
  padding-bottom: 10px;
}
main#index .section3 {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 4rem;
}
main#index .section3 .divisor1 {
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding-top: 4rem;
  padding-right: 0;
  padding-bottom: 4rem;
  padding-left: 0;
}
main#index .section3 .divisor1 h2 {
  padding: 1rem;
  margin: auto;
  margin-bottom: 1rem;
}
main#index .section3 .divisor2 .card {
  background-color: transparent;
  border: none;
}
main#index .section3 .divisor2 .card a.link {
  border-radius: 20px;
  padding: 1rem;
  margin-bottom: 1rem;
}
main#index .section3 .divisor2 .card img {
  width: 80%;
}
main#index .section3 .divisor3 {
  padding-top: 4rem;
}
main#index .section3 .divisor3 .mapa {
  max-width: 700px;
  width: 80%;
  margin-top: 40px;
}

main#musica {
  background-size: cover;
  background-position: center;
}
main#musica h1,
main#musica h2,
main#musica h3 {
  width: 21rem;
  margin-bottom: 1rem;
  line-height: 2.5rem;
}
main#musica p {
  width: 80%;
  padding: 1rem;
}
main#musica div section div img {
  width: 12rem;
  height: 12rem;
  object-fit: cover;
  margin-bottom: 2rem;
}
main#musica .section-top {
  padding-top: 1.8rem;
}
main#musica .divisor-1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.5rem;
  margin-top: 4rem;
}
main#musica .divisor-1 .section1,
main#musica .divisor-1 .section2,
main#musica .divisor-1 .section3 {
  display: flex;
  align-items: center;
  padding-bottom: 2rem;
}
main#musica .divisor-2 {
  margin: auto;
  padding-top: 2rem;
}
main#musica .divisor-2 section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
}
main#musica .divisor-2 .section4 a {
  padding: 1.5em;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
}

main.contacto {
  padding-top: 3rem;
}
main.contacto .contenedor {
  display: grid;
  min-height: auto;
  width: 100%;
  max-width: 1400px;
  margin: auto;
  padding-top: 4rem;
  padding-bottom: 4rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto auto;
  grid-gap: 0px;
  justify-content: center;
  align-items: center;
  grid-template-areas: "section1 section2 section3" "section1 section2 section3" "section1 section2 section3";
}
main.contacto .contenedor .section1 {
  grid-area: section1;
}
main.contacto .contenedor .section2 {
  grid-area: section2;
}
main.contacto .contenedor .section3 {
  grid-area: section3;
}
main.contacto .contenedor .section3 form {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
}
main.contacto .contenedor .section3 form label {
  padding: 4px;
  letter-spacing: 0.25rem;
}
main.contacto .contenedor .section3 form input,
main.contacto .contenedor .section3 form textarea,
main.contacto .contenedor .section3 form button {
  max-width: 10rem;
  min-height: 1.4rem;
  margin: auto;
  letter-spacing: 1px;
}
main.contacto .contenedor .section3 form input,
main.contacto .contenedor .section3 form textarea {
  font-style: italic;
}
main.contacto .contenedor .section3 form button {
  padding: 0.8em;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
}
main.contacto .contenedor .section3 form .checkbox {
  display: flex;
  margin: auto;
  padding: 0.5rem;
  align-items: center;
}
main.contacto .contenedor .section3 form .checkbox input#checkbox {
  width: 1.1rem;
}

@media (max-width: 992px) {
  .main .section2 {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  main.contacto .contenedor {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "section1 section3" "section2 section3";
    align-items: self-start;
  }
}
@media (max-width: 768px) {
  h1,
  h1 strong,
  h2,
  h3 {
    font-size: 1.2rem;
  }
  p {
    font-size: 0.95rem;
  }
  .main .section3 .divisor3 .mapa {
    height: 15rem;
  }
  .main .section3 .divisor1 {
    padding-top: 1rem;
  }
  .main .section3 .divisor2 .row .card.col-lg-4.col-sm-12 .card .row .col-lg-12.col-sm-6 .card-img-top {
    max-width: 60%;
  }
  main.contacto .contenedor {
    position: static;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: "section1" "section2" "section3";
    padding: 2rem;
  }
  main.contacto .contenedor .section3 form {
    padding-top: 1.5rem;
    gap: 0.1rem;
    flex-direction: row;
    flex-wrap: wrap;
    width: 18rem;
  }
  main.contacto .contenedor .section3 form input,
  main.contacto .contenedor .section3 form textarea {
    margin-right: 0;
  }
}
@media (max-width: 576px) {
  footer div#redes ul {
    gap: 1rem;
  }
  h1,
  h1 strong,
  h2,
  h3 {
    font-size: 1.1rem;
  }
  p,
  main#musica .divisor-2 .section3 a {
    font-size: 0.9rem;
  }
  .main .section2 .divisor {
    display: flex;
    flex-direction: column-reverse;
  }
  .main .section2 .divisor .divisor-imagen img {
    max-height: 9rem;
  }
  main#musica h1,
  main#musica h3 {
    width: auto;
  }
  main#musica .divisor-1 .section1,
  main#musica .divisor-1 .section2,
  main#musica .divisor-1 .section3 {
    flex-direction: column;
    align-items: center;
  }
  main#musica .divisor-1 section div {
    order: -1;
  }
  main#musica .divisor-2 {
    width: 100%;
    height: auto;
    position: static;
    margin: auto;
  }
  main#musica .divisor-2 .section3 {
    flex-direction: column;
  }
  main#musica .divisor-2 .section3 p {
    margin-right: 0;
    margin-bottom: 1rem;
  }
  main#musica .divisor-2 .section3 a {
    width: 30%;
    margin: auto;
  }
  main#musica .fade1 {
    animation-delay: 0.6s;
    animation-fill-mode: forwards;
  }
  main#musica .fade2 {
    animation-delay: 0.8s;
    animation-fill-mode: forwards;
  }
  main#musica .fade3 {
    animation-delay: 0.4s;
    animation-fill-mode: forwards;
  }
  main.contacto .contenedor .section3 form input,
  main.contacto .contenedor .section3 form textarea {
    width: 80%;
    padding: 0;
  }
}
@media (max-width: 290px) {
  header .logo {
    display: none;
  }
  header .logo-2 {
    display: block;
  }
  h1,
  h1 strong,
  h2,
  h2 strong,
  h3,
  h4 {
    font-size: 0.7rem;
    width: auto;
  }
  p {
    font-size: 0.6rem;
    width: auto;
  }
  footer {
    flex-direction: column;
    height: 6rem;
  }
  main#musica {
    margin: 0;
    padding: 0;
  }
  main#musica h1,
  main#musica h3 {
    width: 100%;
  }
  main#musica p {
    padding: 0;
  }
  main#musica .divisor-1 section div img,
  main#musica .divisor-2 .section3 img {
    max-width: 80%;
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  main#musica .divisor-2 .section4 a {
    padding: 0.5rem;
  }
  main#musica .divisor-2 .section4 img {
    width: 90%;
  }
  main.contacto .contenedor .section3 form {
    width: 100%;
    flex-direction: column;
  }
  main.contacto .contenedor .section3 form input,
  main.contacto .contenedor .section3 form textarea {
    margin: auto;
  }
}/*# sourceMappingURL=styles.css.map */