// Mixin para transiciones
@mixin transition($properties) {
  transition: $properties;
}

// Mixin para animaciones
@mixin animation($name, $timeline, $range) {
  animation-timeline: $timeline;
  animation-name: $name;
  animation-range: $range;
  animation-fill-mode: both;
}

// Mixin para transformaciones al hover
@mixin hover-transform($scale) {
  &:hover {
    @include transition(transform 0.25s ease);
    transform: scale($scale);
  }
}

// Estilos de la barra de navegación
.navbar {
  a {
    @include transition(0.25s);
  }
}

// Estilos de main con elementos hover
main {
  a,
  img,
  iframe.mapa  {
    @include hover-transform(1.06);
    @include transition(transform 0.25s ease);
  }
}

// Keyframes para animación show
@keyframes show {
  from {
    opacity: 0;
    scale: 25%;
  }
  to {
    opacity: 1;
    scale: 100%;
  }
}

// Estilos para img, p, iframe.mapa
img,
p,
iframe.mapa,
#musica h2,
#musica h3 {
  view-timeline-name: --image;
  view-timeline-axis: block;
  @include animation(show, --image, entry 15% cover 40%);
}


// Keyframes para animación fade contacto.html
@keyframes fadeIn {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  1% {
    opacity: 0;
    visibility: visible;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

.fade-in { 
  opacity: 0;
  visibility: hidden;
  animation: fadeIn 2s forwards;
}

.section1,
.fade1 {
  animation-delay: 0.4s;
  animation-fill-mode: forwards;
}

.section2,
.fade2 {
  animation-delay: 0.6s;
  animation-fill-mode: forwards;
}

.section3,
.fade3 {
  animation-delay: 0.8s;
  animation-fill-mode: forwards;
}
