// Mixin para text-transform
@mixin text-transform($transform) {
  text-transform: $transform;
}

// Mixin para letter-spacing
@mixin letter-spacing($spacing) {
  letter-spacing: $spacing;
}

// Mixin para font-size
@mixin font-size($size) {
  font-size: $size;
}

// Mixin para font-weight
@mixin font-weight($weight) {
  font-weight: $weight;
}

// TITULOS Y TEXTOS
h1, h2, h3 {
  @include text-transform(uppercase);
}

h1, h1 strong, h2, h2 strong, p, strong {
  @include letter-spacing(0.25rem);
}

h3, h4 {
  @include letter-spacing(0.125rem);
}

h1 {
  @include font-size(2.5rem);
  @include font-weight(500);

  strong {
    @include font-weight(500);
  }
}

h2 {
  @include font-size(2rem);
  @include font-weight(500);

  strong {
    @include font-weight(500);
  }
}

h3 {
  @include font-size(1.5rem);
}

h4 {
  @include font-size(0.7rem);
}

p {
  @include font-size(1.2rem);
  @include font-weight(400);
}

strong {
  @include font-weight(400);
}

a {
  text-decoration: none;
  @include letter-spacing(0.125rem);
}
