/* ----------------- TITULOS Y TEXTOS ----------------- */
h1,
h2,
h3 {
  text-transform: uppercase;
}

h1,
h1 strong,
h2,
h2 strong,
p,
strong {
  letter-spacing: 0.25rem;
}

h3,
h4 {
  letter-spacing: 0.125rem;
}

h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 0.7rem;
}

p {
  font-size: 1.2rem;
}

h1,
h1 strong,
h2,
h2 strong {
  font-weight: 500;
}

p,
strong {
  font-weight: 400;
}

a {
  text-decoration: none;
  letter-spacing: 0.125rem;
}