/* ----------------- UNIVERSALES ----------------- */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  text-align: center;
}

* {
  transition: 0.2s;
}

@keyframes show {
  from {
    opacity: 0;
    scale: 25%;
  }

  to {
    opacity: 1;
    scale: 100%;
  }
}

img {
  transition: transform 0.3s ease;
}

img:hover {
  transform: scale(1.06);
}


main img,
main p {
  view-timeline-name:  --image;
  view-timeline-axis: block;

  animation-timeline: --image;
  animation-name: show;

  animation-range: entry 25% cover 50%;
  animation-fill-mode: both;
}