// MEDIAQUERIES 992px
@media (max-width: 992px) {
  // declaraciones en titulos y textos
  h1,
  h1 strong,
  h2,
  h3 {
    font-size: 1.6rem;
  }

  p {
    font-size: 1rem;
  }

  // declaraciones en index.html

  main#index {
    .main {
      .section2 {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
      }
      .section3 {
        .divisor2 .card {
          a.active {
            width: 40%;
          }
        }
      }
    }
  }
  // declaraciones en contacto.html
  main.contacto {
    .contenedor {
      h1 {
        font-size: 3rem;
        margin-bottom: 2rem;
      }
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas:
        "section1 section3"
        "section2 section3";
      align-items: self-start;
    }
  }
}
