// MEDIAQUERIES 575px
@media (max-width: 575px) {
  // declaraciones en el "footer" de los html
  footer {
    div#redes ul {
      gap: 1rem;
    }
  }

  // declaraciones en titulos y textos
  h1,
  h1 strong,
  h2,
  h3 {
    font-size: 1.6rem;
  }

  p,
  main#musica .divisor-2 .section3 a {
    font-size: 0.9rem;
  }

  // declaraciones en index.html
  main#index {
    .main {
      .section2 {
        padding-bottom: 4rem;
        .divisor {
          display: flex;
          flex-direction: column-reverse;
          .divisor-texto {
            margin-bottom: 1rem;
          }
          .divisor-imagen {
            img {
              max-height: 9rem;
            }
          }
        }
      }
      .section3 {
        .divisor2 .card {
          a.active:hover {
            width: 45%;
          }
        }
      }
    }
  }

  // declaraciones en contacto.html
  main.contacto {
    .contenedor {
      .section3 form {
        label {
          display: none;
        }

        width: 100%;
        flex-direction: column;

        input,
        select,
        textarea {
          margin: auto;
        }
      }
    }
  }
}
