// MEDIAQUERIES 324px
@media (max-width: 324px) {
  // declaraciones generales

  h1,
  h1 strong {
    font-size: 1.2rem;
  }

  h2,
  h3 {
    font-size: 1rem;
  }

  p {
    font-size: 0.7rem;
    width: auto;
  }

  // declaraciones en el "header" de los html
  header {
    .logo {
      display: none;
    }

    .logo-2 {
      display: block;
    }
  }

  // declaraciones en el "footer" de los html
  footer {
    flex-direction: column;
    height: 6rem;
  }

  // declaraciones en index.html

  main#index {
    .main {
      .section2 {
        .divisor {
          .divisor-imagen {
            .segunda-imagen {
              display: none;
            }
          }
        }
      }

      .section3 {
        .divisor2 {
          .row {
            .card.col-lg-4.col-sm-12 {
              .card {
                .row {
                  .col-lg-12.col-sm-6 {
                    max-width: 100%;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  // declaraciones en piano/canto/violin.html = #musica (aplica a los tres html mencionados)
  main#musica {
    margin: 0;
    padding: 0;

    p {
      padding: 0;
    }

    .divisor-1 section div img,
    .divisor-2 .section3 img {
      max-width: 80%;
      margin: auto;
      margin-top: 3rem;
      margin-bottom: 3rem;
    }

    .divisor-2 .section4 {
      a {
        padding: 0.5rem;
      }
    }
  }

  // declaraciones en contacto.html
  .contacto {
    .contenedor {
      .section1 {
        h1 {
          font-size: 1.2rem;
        }
      }
    }
  }
}
