/* ----------------- HEADER ----------------- */
header {
  .navbar-nav.ms-auto {
    align-items: center;
  }

  .navbar-brand {
    font-weight: 200;
    font-size: 1.8rem;
    padding-left: 20px;
  }

  .navbar-toggler {
    border: none;
  }

  .fas.fa-bars {
    font-size: 1.7rem;
  }

  .navbar-nav {
    width: 100%;
    justify-content: space-evenly;

    a {
      font-weight: 200;
      width: 6rem;
      text-align: center;
      margin: 0.2rem;

      &:hover {
        transform: scale(1.05);
      }
      
      &[aria-current="page"] {
        pointer-events: none;
      }

    }
  }

  .logo-2 {
    display: none;
  }
}
