// Mixin para font-weight
@mixin font-weight($weight) {
  font-weight: $weight;
}

// Mixin para font-size
@mixin font-size($size) {
  font-size: $size;
}

// Mixin para padding
@mixin padding($padding-left: null) {
  @if $padding-left != null {
    padding-left: $padding-left;
  }
}

// Mixin para border
@mixin border($border) {
  border: $border;
}

// Mixin para display
@mixin display($display) {
  display: $display;
}

// Mixin para width y justify-content
@mixin flex-container($width: null, $justify: null) {
  @if $width != null {
    width: $width;
  }
  @if $justify != null {
    justify-content: $justify;
  }
}

// APLICACION DE LOS MIXIN EN ELEMENTOS DE HEADER

header {
  .navbar-nav.ms-auto {
    align-items: center;
  }

  .navbar-brand {
    @include font-weight(200);
    @include font-size(1.8rem);
    @include padding(20px);
  }

  .navbar-toggler {
    @include border(none);
  }

  .fas.fa-bars {
    @include font-size(1.7rem);
  }

  .navbar-nav {
    @include flex-container(100%, space-evenly);

    a {
      @include font-weight(400);
      width: 6rem;
      text-align: center;
      margin: 0.2rem;
      

      // Estilos para enlaces con aria-current="page"

      &[aria-current="page"] {
        pointer-events: none;
      }
    }
  }

  .logo-2 {
    @include display(none);
  }
}
