// APLICACION DE ESTILOS GENERALES PARA LOS 'MAIN' DE LOS HTML
main {
  width: 100%;
  min-height: 100vh;
}

// APLICACION DE ESTILOS GENERALES PARA 'TOP-SECTION' (carousel con imágenes en index/piano/canto/violin.html)
#carouselExampleAutoplaying .carousel-item img {
  object-fit: cover;
  width: 100%;
  height: auto;
  min-height: 200px;
}

// APLICACION DE BORDER RADIUS PARA LOS ELEMENTOS DECLARADOS
.main .section2 .divisor img,
.main .section3 .divisor1 h2,
.main .section3 .divisor2 h3,
.main .section3 .divisor2 img,
.main .section3 .divisor3 .mapa,
main#musica div section div img,
main#musica .divisor-2 .section4 a,
main.contacto .contenedor .section3 form input,
main.contacto .contenedor .section3 form textarea,
main.contacto .contenedor .section3 form button {
  border-radius: 20px;
}
