@mixin background-image($url) {
  background: linear-gradient(#{$color-fondo-op100}, #{$color-fondo-op50}),
    url($url);
}

@mixin section-styles($width) {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  width: $width;
}

@mixin text-styles {
  margin-bottom: 1rem;
  line-height: 2.5rem;
}

@mixin img-styles($width, $height) {
  width: $width;
  height: $height;
  object-fit: cover;
  margin-bottom: 2rem;
}

%flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

%flex-column {
  display: flex;
  flex-direction: column;
}

main {
  &#musica {
    background-size: cover;
    background-position: center;

    h1, h2, h3 {
      @include text-styles;
      width: 20%;
    }

    p {
      width: 40%;
      padding: 0.5rem;
    }

    div section div img {
      @include img-styles(12rem, 12rem);
    }

    .section-top {
      padding-top: 1.8rem;
    }

    .divisor-1 {
      width: 100%;
      max-width: 1200px;
      margin: auto;
      @extend %flex-column;
      justify-content: center;
      padding: 0.5rem;
      margin-top: 4rem;

      .section1,
      .section2,
      .section3 {
        @include section-styles(100%);
        @extend %flex-center;
        padding-bottom: 2rem;
      }
    }

    .divisor-2 {
      margin: auto;
      padding-top: 2rem;

      .section4 {
        @extend %flex-column;
        justify-content: space-between;
        gap: 1rem;
        align-items: center;

        a {
          padding: 1.5em;
          font-weight: 300;
          text-transform: uppercase;
          letter-spacing: 1px;
        }

        h3 {
          width: 100%;
          padding: 1rem;
        }
      }
    }
  }
}
