// Mixin para definir estilos de fondo comunes
@mixin background-styles($background-image) {
  background: linear-gradient(var(--color-fondo-op100), var(--color-fondo-op50)),
             url($background-image);
  background-size: cover;
  background-position: center;
}

// Mixin para definir estilos de secciones comunes
@mixin section-styles {
  display: flex;
  flex-direction: column;
}

// Mixin para definir estilos de enlaces comunes
@mixin link-styles {
  padding: 1.5em;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
}

// Estilos específicos para cada página de música
main.piano, main.canto, main.violin {
  @include background-styles('../assets/img/background/1.webp');
}

main#musica {
  @include background-styles('../assets/img/background/3.webp');
  
  h1,
  h3 {
    width: 21rem;
    margin-bottom: 1rem;
    line-height: 2.5rem;
  }

  p {
    width: 80%;
    padding: 1rem;
  }

  div section div img {
    width: 12rem;
    height: 12rem;
    object-fit: cover;
    margin-bottom: 2rem;
  }

  .section-top {
    padding-top: 1.8rem;
  }

  // #MUSICA DIVISOR 1
  .divisor-1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.5rem;
    margin-top: 4rem;

    .section1,
    .section2,
    .section3 {
      @include section-styles;
      align-items: center;
    }
  }

  // #MUSICA DIVISOR 2
  .divisor-2 {
    margin: auto;
    padding-top: 2rem;

    section {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 1rem;
      align-items: center;
    }

    .section4 a {
      @include link-styles;
    }
  }
}
