@mixin section-padding(
  $padding-top,
  $padding-right,
  $padding-bottom,
  $padding-left
) {
  padding-top: $padding-top;
  padding-right: $padding-right;
  padding-bottom: $padding-bottom;
  padding-left: $padding-left;
}

%full-width {
  width: 100%;
  max-width: 1000px;
  margin: auto;
}

%padding-horizontal {
  padding-left: 1rem;
  padding-right: 1rem;
}

%flex-column {
  display: flex;
  flex-direction: column;
}

%flex-space-between {
  display: flex;
  justify-content: space-between;
}

main#index {
  padding-top: 1.8rem;

  .main {
    .section1 {
      @extend %full-width;
      @include section-padding(4rem, 1rem, 4rem, 1rem);
      display: flex;
      justify-content: center;
      flex-direction: column;

      h1 {
        margin: auto;
        padding: 1.5rem;
        margin-bottom: 1.5rem;
      }
    }

    .section2 {
      @extend %full-width;
      @extend %padding-horizontal;

      .divisor {
        @extend %full-width;
        @extend %flex-space-between;
        gap: 0.5rem;

        h2 {
          padding: 1.5rem;
        }

        p {
          width: 90%;
          margin: auto;
        }

        img {
          height: 10rem;
          object-fit: cover;
          padding: 0.2rem;
        }

        .divisor-texto {
          width: 100%;
          height: 9rem;
          order: -1;

          h3 {
            width: 90%;
            margin: auto;
            padding-bottom: 10px;
          }
        }
      }
    }

    .section3 {
      @extend %padding-horizontal;
      @extend %flex-column;
      justify-content: space-between;
      padding-bottom: 4rem;

      .divisor1 {
        @extend %full-width;
        @extend %flex-column;
        @include section-padding(4rem, 0, 2rem, 0);

        h2 {
          padding: 1rem;
          margin: auto;
          margin-bottom: 2rem;
        }
      }

      .divisor2 .card {
        background-color: transparent;
        border: none;
        position: relative;

        .link {
          border-radius: 20px;
          padding: 0.5rem;
          margin-bottom: 4rem;
          font-size: 1.6rem;
          width: 80%;
        }

        a.active {
          position: absolute;
          opacity: 0;

          &:hover {
            opacity: 1;
          }
        }

        .overlay {
          position: relative;

          img {
            // width: 80%;

            &:hover {
              display: none;
            }
          }

          .name {
            position: absolute;
            top: 0;
            left: 12px;
            width: calc(100% - 1.5rem);
            height: calc(100% - 1rem);
            display: flex;
            align-items: center;
            justify-content: center;
            opacity: 0;

            &:hover {
              opacity: 1;
            }
          }
        }

        p {
          padding-top: 2rem;
          padding-bottom: 2rem;
        }
      }

      .divisor3 {
        padding-top: 4rem;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h3 {
          padding: 1.5rem;
          margin: auto;
          margin-bottom: 2rem;
        }

        .mapa {
          margin: auto;
          max-width: 700px;
          width: 80%;
          margin-top: 40px;
        }
      }
    }
  }
}
